/* Font */
@font-face {
    font-family: "J-Bold";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Bold.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-ExtraLight";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-ExtraLight.ttf")  format('truetype');
  }

@font-face {
    font-family: "J-Light";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Light.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-Medium";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Medium.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-Regular";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-SemiBold";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf")  format('truetype');
  }
/* Variables */
:root {
  /* Header */
  --header-height: 5rem;

  /* Colors */ 
  --hue-color: 198;
  --first-color: hsl(var(--hue-color), 80%, 30%);
  --first-color-alt: hsl(var(--hue-color), 82%, 31%);
  --first-color-light: hsl(var(--hue-color), 80%, 30%);
  --first-color-dark: hsl(var(--hue-color), 80%, 20%);
  --text-color: hsl(var(--hue-color), 10%, 45%);
  --text-color-light: hsl(var(--hue-color), 10%, 65%);
  --text-color-dark: ;
  --title-color: hsl(var(--hue-color), 10%, 15%);
  --tilte-color-light: ;
  --tilte-color-dark: ;
  --input-color: hsl(var(--hue-color), 65%, 95%);
  --body-color: hsl(var(--hue-color), 65%, 100%);
  --container-color: hsl(240, 100%, 99%);

  /* Font */
  --big-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.825rem;
  --h1: 1.5rem;
  --h2: 1.25rem;
  --h3: 1.125rem;
  
  --font-bold: 'J-Bold';
  --font-semibold: 'J-SemiBold';
  --font-regular: 'J-Regular';
  --font-light: 'J-Light';
  --font-extralight: 'J-ExtraLight';


  /* Margins */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z Index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Larger Devices */
@media screen and (min-width: 968px){
  :root{
  --big-font-size: 3rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.825rem;
  --h1: 2.25rem;
  --h2: 1.75rem;
  --h3: 1.25rem;
  }
}

/* Buttons Dark and Light +/

/* BASE */
*{
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 var(--header-height) 0;
  font-family: var(--font-regular);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--title-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.section{
  padding: 2rem 0 4rem;
}

.section__title{
  font-size: var(--h1);
}

.section__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle{
  text-align: center;
}

.container{
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
  gap: var(--mb-1-5);
}

.header{
  width: 100%;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-regular);

}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.125rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0rem;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .5s;
  }
}

.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-regular);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.25rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}

.show-menu{
  bottom: 0rem;
}

/* Header */
.header__container{
  gap: 1rem;
}

.header__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.header__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: var(--mb-0-75);
}

.header__socialicons{
  font-size: 1.75rem;
  color: var(--first-color);
}

.header__socialicons:hover{
  color: var(--first-color-alt);
}

.header__blob{
  width: 125%;
  fill: var(--first-color);
}

.header__blob__img{
  width: 200px;
}

.header__data{
  grid-column: 1/3;
}

.header__title{
  font-size: var(--big-font-size);
}

.header__subtitle{
  font-size: var(--h3);
  color: var(--text-color);
  font-weight: var(--font-regular);
  margin-bottom: var(--mb-0-75);
}

.header__description{
  margin-bottom: var(--mb-2);
}


/* Scroll to Action */

.scroll_button{
  color: var(--first-color);
  transition: .3s;
}
.scroll_button:hover{
  color: var(--first-color-alt);
  transform: translateY(var(--mb-0-25));
}

.mouse{
  height: 2.25rem;
  width: 1.125rem;
  border-radius: 5rem;
  transform: none;
  border: .125rem solid var(--first-color);
  top: 5rem;
}

.wheel {
  display: block;
  margin: 4px auto;
  background: var(--first-color);
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid var(--first-color);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.7s linear infinite;
  -moz-animation: mouse-wheel 0.7s linear infinite;
  animation: mouse-wheel 0.7s linear infinite;
}

.scroll__title{
  margin: 0 0 0 5px;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--container-color);
  padding: var(--mb-1);
  border-radius: var(--mb-0-5);
  font-weight: var(--font-regular);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.botton__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;

}

.button--flex{
  display: inline-flex;
  align-items: center;
}


/* not found */
#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "J-Bold", !important;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #0E688E, 1px 1px 0px #a3b023;
  letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
  font-family: "J-Bold", !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #FAFAFF;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #0E688E;
  letter-spacing: 13px;
  margin: 0;
}

.notfound h2 {
  font-family: "J-Bold", !important;
  font-size: 25px;
  font-weight: 700;
  color: #FAFAFF;
  text-shadow: 0px 2px 0px #a3b023;
  letter-spacing: 10px;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #a3b023;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #0E688E;
}

.notfound-social {
  margin-top: 35px;
}

.notfound-social>a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  margin: 0px 5px;
}

.notfound-social>a:hover {
  background-color: #0E688E;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #0E688E;
          box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #0E688E;
}