/* Font */
@font-face {
    font-family: "J-Bold";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Bold.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-ExtraLight";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-ExtraLight.ttf")  format('truetype');
  }

@font-face {
    font-family: "J-Light";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Light.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-Medium";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Medium.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-Regular";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf")  format('truetype');
  }
@font-face {
    font-family: "J-SemiBold";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf")  format('truetype');
  }

body {
  font-family: "J-Regular", !important;
  background-color: #FAFAFA;
  line-height: 1.5;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "J-Bold", !important;
  color: #000;
  text-transform: uppercase; }

a, .a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;}
  a, .a, a:hover {
    text-decoration: none !important;
    color: #0E688E;}

.text-black {
  color: #000; }

.content {
  padding: 5rem 0; }

.thin-heading {
  font-weight: 300;
  font-size: 40px; }

.btn, .form-control, .custom-select {
  height: 50px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }

.heading {
  color: #0E688E;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-weight: 400; }

.btn {
  border: none;
  border-radius: 0; }
  .btn.btn-primary {
    background: #000;
    color: #FAFAFA;
    padding: 15px 20px;
    text-transform: uppercase; }
  .btn:hover {
    color: #E5E5E5; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.center {
  text-align: center;
}

.avatar {
    border-radius: 50%;
  }

.select{
  width: 100%;
}

.toggle-buttons input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.toggle-buttons label {
  border: 1px solid ;
  border-radius: 0.5em;
  padding: 0.5em;
}
 
.toggle-buttons input:checked + label {
  background: #edffe6;
  box-shadow: none;
}

input:hover + label,
input:focus + label {
  background: #FAFAFA; 
}

.scrollToTopBtn {
  background-color: black;
  border: none;
  color: #FAFAFA;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "J-Bold", !important;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #0E688E, 1px 1px 0px #0E688E;
  letter-spacing: -20px;
}


.notfound .notfound-404 h2 {
  font-family: "J-Bold", !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #FAFAFF;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #0E688E;
  letter-spacing: 13px;
  margin: 0;
}

.notfound h2 {
  font-family: "J-Bold", !important;
  font-size: 25px;
  font-weight: 700;
  color: #FAFAFF;
  text-shadow: 0px 2px 0px #0E688E;
  letter-spacing: 10px;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #0E688E;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #0E688E;
}

.notfound-social {
  margin-top: 35px;
}

.notfound-social>a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  margin: 0px 5px;
}

.notfound-social>a:hover {
  background-color: #0E688E;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #0E688E;
          box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #0E688E;
}